header {
 font-size: 40px; 
 color: blue; 
 background: red; 
 
}
  a {
    text-decoration: none;
    font-size: 20px;
   padding-left:  30px;
   margin-left: 10;
}
body {
background-image: Url=("https://www.freepik.com/free-vector/neon-gradient-curve-frame-template_14547800.htm#fromView=image_search_similar&page=3&position=38&uuid=6559bd7d-2f78-4498-9747-eac81c294b47&query=background+designs+diffrent")
